[Desktop Entry]
Type=Application
Version=1.0
Name=GNU Radio
Comment=Flowgraph editor; File Open bookmark GNURadio QuadRF Examples
Exec=gnuradio-companion
TryExec=gnuradio-companion
Icon=quadrf-gnuradio
Terminal=false
Categories=HamRadio;Science;
