[Desktop Entry]
Type=Application
Version=1.0
Name=GNU Radio
Comment=Flowgraph editor with the QuadRF examples in /usr/share/quadrf/grc
Exec=gnuradio-companion
TryExec=gnuradio-companion
Icon=quadrf-gnuradio
Terminal=false
Categories=HamRadio;Science;
