[Unit]
Description=QuadRF fallback access point
After=network.target load-quadrf.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/quadrf-hotspot start

[Install]
WantedBy=multi-user.target
