[Unit]
Description=QuadRF Near-Field Phasors
Wants=load-quadrf.service quadrf-desktop.service
After=load-quadrf.service quadrf-desktop.service

[Service]
Type=simple
# User, Group and HOME come from /etc/systemd/system/quadrf-nearfield.service.d/
User=root
Environment=DISPLAY=:1
Environment=SDL_VIDEODRIVER=x11
Environment=QT_QPA_PLATFORM=xcb
ExecStart=/usr/bin/quadrf-nearfield
TimeoutStopSec=8
Restart=no

[Install]
WantedBy=multi-user.target
